Diamond Digger/Library/*
Diamond Digger/Temp/*
Diamond Digger/Diamond Digger.CSharp.csproj
Diamond Digger/Diamond Digger.sln
Diamond Digger/Diamond Digger.userprefs
Diamond Digger/Diamond Digger.sln.ide/*
Diamond Digger/obj/*
Diamond Digger/Assembly-CSharp.csproj
Diamond Digger/Diamond Digger.v11.suo
Diamond Digger/UpgradeLog.html
